.home {
    position: absolute;
    left: 24%;
    top: 40%;
    color: gold;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP9JdB0deikfdWd6f6UT6AFm7732xEbwSw8A&usqp=CAU");
  }
  